version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      # External actions - will get SHA updates
      external-actions:
        patterns:
          - "*"
        exclude-patterns:
          - "nationalarchives/tdr-github-actions*"
      # Self-referencing actions - separate PR
      self-actions:
        patterns:
          - "nationalarchives/tdr-github-actions*"
