name: TDR Tag ecr image
on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      image-name:
        required: true
        type: string
      to-deploy:
        required: true
        type: string
    secrets:
      MANAGEMENT_ACCOUNT:
        required: true
      SLACK_WEBHOOK:
        required: true

permissions:
  id-token: write
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          ref: refs/tags/${{ inputs.to-deploy }}
      - name: Configure AWS credentials for ECR
        uses: aws-actions/configure-aws-credentials@a03048d87541d1d9fcf2ecf528a4a65ba9bd7838
        with:
          role-to-assume: arn:aws:iam::${{ secrets.MANAGEMENT_ACCOUNT }}:role/TDRGithubActionsRoleMgmt
          aws-region: eu-west-2
          role-session-name: ECRLogin
      - id: role-name
        run: |
          import os
          with open(os.environ['GITHUB_OUTPUT'], 'a') as fh: 
            print(f"role-name=TDRGitHubECSUpdateRole{'${{ inputs.tag }}'.title()}", file=fh)
        shell: python
      - name: Login to ECR
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1
        with:
          registry: ${{ secrets.MANAGEMENT_ACCOUNT }}.dkr.ecr.eu-west-2.amazonaws.com
      - name: Tag image
        run: |
          docker pull ${{ secrets.MANAGEMENT_ACCOUNT }}.dkr.ecr.eu-west-2.amazonaws.com/${{ inputs.image-name }}:${{ inputs.to-deploy }}
          docker tag ${{ secrets.MANAGEMENT_ACCOUNT }}.dkr.ecr.eu-west-2.amazonaws.com/${{ inputs.image-name }}:${{ inputs.to-deploy }} ${{ secrets.MANAGEMENT_ACCOUNT }}.dkr.ecr.eu-west-2.amazonaws.com/${{ inputs.image-name }}:${{ inputs.tag }}
          docker push ${{ secrets.MANAGEMENT_ACCOUNT }}.dkr.ecr.eu-west-2.amazonaws.com/${{ inputs.image-name }}:${{ inputs.tag }}
      - name: Update release branch
        run: |
          git branch -f release-${{ inputs.tag }} HEAD
          git push -f origin release-${{ inputs.tag }}
      - name: Send failure message
        uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@main
        if: failure()
        with:
          message: ":warning: Failed to tag ecr image ${{ inputs.image-name }}:${{ inputs.to-deploy }} with tag ${{ inputs.tag }}"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
