name: TDR Build Lambda
on:
  workflow_call:
    inputs:
      repo-name:
        required: true
        type: string
      build-command:
        required: true
        type: string
      lambda-name:
        required: true
        type: string
      artifact-name:
        required: true
        type: string
      artifact-file-type:
        required: false
        type: string
        default: jar
      artifact-path:
        required: false
        type: string
        default: target/scala-2.13
      java-version:
        description: "Version of Java required to build project"
        required: false
        type: string
        default: '11'
    secrets:
      MANAGEMENT_ACCOUNT:
        required: true
      WORKFLOW_PAT:
        required: true
      WIZ_CLIENT_ID:
        required: false
      WIZ_CLIENT_SECRET:
        required: false
      WIZ_PROJECT_ID:
        required: false
    outputs:
      next-version:
        description: "The next version of the project"
        value: ${{ jobs.pre-deploy.outputs.next-version }}

permissions:
  id-token: write
  contents: write
jobs:
  pre-deploy:
    runs-on: ubuntu-latest
    outputs:
      next-version: ${{ steps.next-tag.outputs.next-version }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v7.0.0
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
            java-version: ${{ inputs.java-version }}
            distribution: 'temurin'
      - name: Configure AWS credentials from management account
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: arn:aws:iam::${{ secrets.MANAGEMENT_ACCOUNT }}:role/TDRGithubActionsRoleMgmt
          aws-region: eu-west-2
          role-session-name: GitHubActionsRole
      - run: pip install requests
      - id: next-tag
        uses: nationalarchives/tdr-github-actions/actions/get-next-version@288052e0133a47d2f12924edc2bc5553c1b2d73a # v0.0.5
        with:
          repo-name: ${{ inputs.repo-name }}
      - name: Download Wiz CLI
        if: contains(inputs.build-command, 'docker')
        run: |
          curl -o wizcli https://wizcli.app.wiz.io/wizcli
          chmod +x wizcli
      - name: Authenticate to Wiz API
        if: contains(inputs.build-command, 'docker')
        run: |
          ./wizcli auth --id ${{ secrets.WIZ_CLIENT_ID }} --secret ${{ secrets.WIZ_CLIENT_SECRET }}
      - name: Run wiz CLI IaC scan
        if: contains(inputs.build-command, 'docker')
        run: ./wizcli iac scan --path . --name ${{ inputs.repo-name }}-${{ github.run_number }} --project ${{ secrets.WIZ_PROJECT_ID }}
      - name: Run build command
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}
        run: ${{ inputs.build-command }}
      - name: Wiz Docker Scan
        if: contains(inputs.build-command, 'docker')
        run: ./wizcli docker scan --image function --project ${{ secrets.WIZ_PROJECT_ID }}
      - name: Copy artifact to S3 and create release
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}
        run: |
          aws s3 cp ${{ inputs.artifact-path }}/${{ inputs.artifact-name }}.${{ inputs.artifact-file-type }} s3://tdr-backend-code-mgmt/${{ inputs.lambda-name }}/${{ steps.next-tag.outputs.next-version }}/${{ inputs.artifact-name }}.${{ inputs.artifact-file-type }}
          git tag ${{ steps.next-tag.outputs.next-version }}
          git push origin ${{ steps.next-tag.outputs.next-version }}
          gh release create ${{ steps.next-tag.outputs.next-version }} ${{ inputs.artifact-path }}/${{ inputs.artifact-name }}.${{ inputs.artifact-file-type }}
