name: TDR Deploy to Lambda
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      lambda-name:
        required: true
        type: string
      deployment-package:
        required: true
        type: string
      to-deploy:
        required: true
        type: string
      project:
        type: string
        required: false
        default: 'tdr'
      image-name:
        type: string
        required: false
    secrets:
      ACCOUNT_NUMBER:
        required: true
      MANAGEMENT_ACCOUNT:
        required: true
      WORKFLOW_PAT:
        required: true
      SLACK_WEBHOOK:
        required: true
permissions:
  id-token: write
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          ref: refs/tags/${{ inputs.to-deploy }}
      - id: role-name
        run: |
          import os
          with open(os.environ['GITHUB_OUTPUT'], 'a') as fh: 
            print(f"role-name=TDRGithubActionsDeployLambda{'${{ inputs.environment }}'.title()}", file=fh)
        shell: python
      - name: Configure AWS credentials for Lambda
        uses: aws-actions/configure-aws-credentials@a03048d87541d1d9fcf2ecf528a4a65ba9bd7838
        with:
          role-to-assume: arn:aws:iam::${{ secrets.ACCOUNT_NUMBER }}:role/${{ steps.role-name.outputs.role-name }}
          aws-region: eu-west-2
          role-session-name: ECRLogin
      - run: pip install boto3
      - name: Check deployed environment variables
        shell: python
        run: |
          from sys import exit
          from re import findall
          from os.path import exists
          import boto3
          conf = "src/main/resources/application.conf"
          if exists(conf):
            with open(conf) as file:
              resp = boto3.client("lambda").get_function_configuration(FunctionName="${{ inputs.project }}-${{ inputs.lambda-name }}-${{ inputs.environment }}")
              lambda_env_vars = resp["Environment"]["Variables"]
              all_env_vars = filter(lambda x: x != "AWS_LAMBDA_FUNCTION_NAME", findall("\\$\\{([A-Z_]*)\\}", file.read()))
              exit(len(set(all_env_vars).difference(set(lambda_env_vars))))
          else:
            exit(0)
      - name: Deploy to lambda
        run: |
          if [ -n "${{ inputs.image-name }}" ]; then
           aws lambda update-function-code --function-name ${{ inputs.project }}-${{ inputs.lambda-name }}-${{ inputs.environment }} --image-uri ${{ secrets.MANAGEMENT_ACCOUNT}}.dkr.ecr.eu-west-2.amazonaws.com/${{ inputs.image-name }}:${{ inputs.environment }} > /dev/null
          else
           aws lambda update-function-code --function-name ${{ inputs.project }}-${{ inputs.lambda-name }}-${{ inputs.environment }} --s3-bucket tdr-backend-code-mgmt --s3-key ${{ inputs.lambda-name }}/${{ inputs.to-deploy }}/${{ inputs.deployment-package }} > /dev/null 
          fi
           aws lambda wait function-updated --function-name ${{ inputs.project }}-${{ inputs.lambda-name }}-${{ inputs.environment }} > /dev/null
      - name: Send success message
        uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@main
        with:
          message: ":white_check_mark: Service ${{ inputs.lambda-name }} updated to version ${{ inputs.to-deploy }} in ${{ inputs.environment }}"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - name: Update release branch
        run: |
          git branch -f release-${{ inputs.environment }} HEAD
          git push -f origin release-${{ inputs.environment }}
      - name: Send failure message
        uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@main
        if: failure()
        with:
          message: ":warning: Build failed for ${{ inputs.lambda-name }}"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - name: Run E2E tests
        if: inputs.environment != 'prod' && inputs.environment != 'mgmt'
        uses: octokit/request-action@dad4362715b7fb2ddedf9772c8670824af564f0d
        with:
          route: POST /repos/nationalarchives/tdr-e2e-tests/actions/workflows/ci.yml/dispatches
          ref: master
          inputs: "{\"environment\": \"${{ inputs.environment }}\", \"repo-details\": \"${{ inputs.lambda-name }}@${{ inputs.to-deploy }}\"}"
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}
