name: Tag and release TDR Github Actions
on:
  push:
    branches:
      - main
jobs:
  tag-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - id: next-tag
        uses: nationalarchives/tdr-github-actions/.github/actions/get-next-version@288052e0133a47d2f12924edc2bc5553c1b2d73a # v0.0.5
        with:
          repo-name: tdr-github-actions
      - name: Create tag and release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git tag ${{ steps.next-tag.outputs.next-version }}
          git push origin ${{ steps.next-tag.outputs.next-version }}
          gh release create ${{ steps.next-tag.outputs.next-version }}
