name: TDR Run git secrets and tests
on:
  workflow_call:
    inputs:
      repo-name:
        required: true
        type: string
      java-version:
        description: "Version of Java required to build project"
        required: false
        type: string
        default: '11'
      test-command:
        required: true
        type: string
    secrets:
      MANAGEMENT_ACCOUNT:
        required: false
      SLACK_WEBHOOK:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: nationalarchives/tdr-github-actions/.github/actions/run-git-secrets@main
      - uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@main
        if: failure()
        with:
          message: ":warning: Secrets found in repository ${{ inputs.repo-name }}"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - uses: coursier/cache-action@4e2615869d13561d626ed48655e1a39e5b192b3c
      - uses: sbt/setup-sbt@234370af1319038bf8dc432f8a7e4b83078a1781
      - uses: actions/setup-java@d0351b4837dd42a4a838ef25daec3bf530e20aaf
        with:
          java-version: ${{ inputs.java-version }}
          distribution: 'temurin'
      - run: ${{ inputs.test-command }}
