name: TDR Run git secrets and tests
on:
  workflow_call:
    inputs:
      repo-name:
        required: true
        type: string
      java-version:
        description: "Version of Java required to build project"
        required: false
        type: string
        default: '17'
      test-command:
        required: true
        type: string
    secrets:
      MANAGEMENT_ACCOUNT:
        required: false
      SLACK_WEBHOOK:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v7.0.0
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: ${{ inputs.java-version }}
          distribution: 'temurin'
      - uses: scalacenter/sbt-dependency-submission@64084844d2b0a9b6c3765f33acde2fbe3f5ae7d3 # v3.1.0
      - name: dependency-review
        uses: actions/dependency-review-action@40c09b7dc99638e5ddb0bfd91c1673effc064d8a # v4.8.1
        if: github.event_name == 'pull_request'
        with:
          fail-on-severity: critical
      - name: git-secrets
        uses: nationalarchives/tdr-github-actions/.github/actions/run-git-secrets@fa53af529582c850a4575b9af2f91e441166c68d # v0.0.7
      - name: determine-failure-message
        if: failure()
        id: failure-msg
        run: |
          if [[ "${{ steps.dependency-review.outcome }}" == "failure" ]]; then
            echo "message=:warning: Critical dependency vulnerabilities found in ${{ inputs.repo-name }}" >> $GITHUB_OUTPUT
          elif [[ "${{ steps.git-secrets.outcome }}" == "failure" ]]; then
            echo "message=:warning: Secrets found in repository ${{ inputs.repo-name }}" >> $GITHUB_OUTPUT
          else
            echo "message=:warning: Build failed in repository ${{ inputs.repo-name }}" >> $GITHUB_OUTPUT
          fi
      - uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@fa53af529582c850a4575b9af2f91e441166c68d # v0.0.7
        if: failure()
        with:
          message: ${{ steps.failure-msg.outputs.message }}
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - run: ${{ inputs.test-command }}
