name: TDR Run git secrets and tests
on:
  workflow_call:
    inputs:
      repo-name:
        required: true
        type: string
      java-version:
        description: "Version of Java required to build project"
        required: false
        type: string
        default: '11'
      test-command:
        required: true
        type: string
    secrets:
      MANAGEMENT_ACCOUNT:
        required: false
      SLACK_WEBHOOK:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: nationalarchives/tdr-github-actions/actions/run-git-secrets@288052e0133a47d2f12924edc2bc5553c1b2d73a # v0.0.5
      - uses: nationalarchives/tdr-github-actions/actions/slack-send@288052e0133a47d2f12924edc2bc5553c1b2d73a # v0.0.5
        if: failure()
        with:
          message: ":warning: Secrets found in repository ${{ inputs.repo-name }}"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v7.0.0
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          java-version: ${{ inputs.java-version }}
          distribution: 'temurin'
      - run: ${{ inputs.test-command }}
