name: TDR Run git secrets and tests
on:
  workflow_call:
    inputs:
      repo-name:
        required: true
        type: string
      java-version:
        description: "Version of Java required to build project"
        required: false
        type: string
        default: '11'
      test-command:
        required: true
        type: string
    secrets:
      MANAGEMENT_ACCOUNT:
        required: false
      SLACK_WEBHOOK:
        required: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - uses: coursier/cache-action@4e2615869d13561d626ed48655e1a39e5b192b3c
      - uses: sbt/setup-sbt@17575ea4e18dd928fe5968dbe32294b97923d65b
      - uses: actions/setup-java@a7ab372554b6eb1a8eb25e7d9aec1cc9f3ea1a76
        with:
          java-version: ${{ inputs.java-version }}
          distribution: 'temurin'
      - uses: scalacenter/sbt-dependency-submission@64084844d2b0a9b6c3765f33acde2fbe3f5ae7d3
      - uses: actions/dependency-review-action@40c09b7dc99638e5ddb0bfd91c1673effc064d8a
        if: github.event_name == 'pull_request'
        with:
          fail-on-severity: critical
      - uses: nationalarchives/tdr-github-actions/.github/actions/run-git-secrets@main
      - uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@main
        if: failure()
        with:
          message: ":warning: Secrets found in repository ${{ inputs.repo-name }}"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - run: ${{ inputs.test-command }}
