name: TDR Terraform plan and apply
on:
  workflow_call:
    inputs:
      working-directory:
        type: string
        required: false
        default: .
      repo-name:
        type: string
        required: true
      environment:
        type: string
        required: true
      terraform-version:
        type: string
        required: false
        default: 1.9.8
      project:
        type: string
        required: false
        default: 'tdr'
      update-tag:
        type: boolean
        required: false
        default: true
    secrets:
      MANAGEMENT_ACCOUNT:
        required: true
      WORKFLOW_PAT:
        required: true
      SLACK_WEBHOOK:
        required: true
      ACCOUNT_NUMBER:
        required: true
      INTG_ACCOUNT_NUMBER:
        required: false
      STAGING_ACCOUNT_NUMBER:
        required: false
      PROD_ACCOUNT_NUMBER:
        required: false
jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      account-number-secret: ${{ steps.set-environment-names.outputs.account_number_secret }}
      title-environment: ${{ steps.set-environment-names.outputs.title_environment }}
    steps:
      - id: set-environment-names
        run: |
          import os
          env = "${{ inputs.environment }}"
          with open(os.environ['GITHUB_OUTPUT'], 'a') as fh:
            print(f"title_environment={env.title()}", file=fh)
            print(f"account_number_secret={env.upper()}_ACCOUNT_NUMBER", file=fh)
        shell: python
  plan:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    needs: setup
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          submodules: recursive
          token: ${{ secrets.WORKFLOW_PAT }}
      - name: Configure AWS credentials for Lambda
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8
        with:
          role-to-assume: arn:aws:iam::${{ secrets.MANAGEMENT_ACCOUNT }}:role/TDRGithubTerraformAssumeRole${{ needs.setup.outputs.title-environment }}
          aws-region: eu-west-2
          role-session-name: TerraformRole
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd
        with:
          terraform_version: ${{ inputs.terraform-version }}
      - name: Terraform Plan
        id: plan
        env:
          GITHUB_OWNER: nationalarchives
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}
          TF_VAR_tdr_account_number: ${{ secrets[needs.setup.outputs.account-number-secret] }}
          # 'hosting_project' Terraform variable required to support reference generator service Terraform
          TF_VAR_hosting_project: ${{ inputs.project }}
        run: |
          terraform init
          terraform workspace select ${{ inputs.environment }}
          pip install boto3
          terraform plan -no-color -out=out > /dev/null
          terraform show -no-color out > out.plan
          python $GITHUB_WORKSPACE/.github/scripts/logs.py out.plan "${{ github.run_id }}${{ github.run_attempt }}" "terraform-plan-outputs-${{ inputs.environment }}"
      - uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@main
        with:
          message: |
            :book: Terraform plan ready for repository ${{ inputs.repo-name }} environment ${{ inputs.environment }}
            :log: View the <${{ steps.plan.outputs.log-url }}|plan logs> in the management account.
            :white_check_mark: <https://github.com/nationalarchives/${{ inputs.repo-name }}/actions/runs/${{ github.run_id }}|Approve the workflow>
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
  apply:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}
    needs:
      - plan
      - setup
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          submodules: recursive
          token: ${{ secrets.WORKFLOW_PAT }}
      - name: Configure AWS credentials for Lambda
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8
        with:
          role-to-assume: arn:aws:iam::${{ secrets.MANAGEMENT_ACCOUNT }}:role/TDRGithubTerraformAssumeRole${{ needs.setup.outputs.title-environment }}
          aws-region: eu-west-2
          role-session-name: TerraformRole
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd
        with:
          terraform_version: ${{ inputs.terraform-version }}
      - name: Run apply
        env:
          GITHUB_OWNER: nationalarchives
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}
          TF_VAR_tdr_account_number: ${{ secrets.ACCOUNT_NUMBER }}
          # 'hosting_project' Terraform variable required to support reference generator service Terraform
          TF_VAR_hosting_project: ${{ inputs.project }}
        run: |
          terraform init
          terraform workspace select ${{ inputs.environment }}
          terraform apply --auto-approve -no-color > apply_output.txt 2>&1
      - name: Upload logs
        id: apply-logs
        if: failure()
        run: |
          pip install boto3
          python $GITHUB_WORKSPACE/.github/scripts/logs.py apply_output.txt "${{ github.run_id }}${{ github.run_attempt }}" "terraform-apply-outputs-${{ inputs.environment }}"
      - id: next-tag
        uses: nationalarchives/tdr-github-actions/.github/actions/get-next-version@main
        with:
          repo-name: ${{ inputs.repo-name }}
      - name: Run git tag
        if: ${{ inputs.update-tag }}
        run: |
          git tag ${{ steps.next-tag.outputs.next-version }}
          git push origin ${{ steps.next-tag.outputs.next-version }}
          git branch -f release-${{ inputs.environment }} HEAD
          git push -f origin release-${{ inputs.environment }}
      - name: Send failure message
        if: failure()
        uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@main
        with:
          message: |
            :warning: ${{ inputs.repo-name }} deploy failed for ${{ inputs.environment }}
            :log: View the <${{ steps.apply-logs.outputs.log-url }}|apply logs> in the management account.
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - name: Send success message
        uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@main
        with:
          message: ":white_check_mark: ${{ inputs.repo-name }} deploy successful for ${{ inputs.environment }}"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - name: Run E2E tests
        if: inputs.environment != 'prod'
        uses: octokit/request-action@dad4362715b7fb2ddedf9772c8670824af564f0d
        with:
          route: POST /repos/nationalarchives/tdr-e2e-tests/actions/workflows/ci.yml/dispatches
          ref: master
          inputs: "{\"environment\": \"${{ inputs.environment }}\", \"repo-details\": \"${{ inputs.repo-name }}\"}"
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}
