name: TDR Run custom action tests
on:
  pull_request:
  push:
    branches-ignore:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: |
          echo "111111111111" > tmp
          git add tmp
      - uses: nationalarchives/tdr-github-actions/.github/actions/run-git-secrets@fa53af529582c850a4575b9af2f91e441166c68d # v0.0.7
        id: run-git-secrets
        continue-on-error: true
      - run: exit 1
        continue-on-error: false
        if: steps.run-git-secrets.outcome == 'success'
